
.num {
	margin: 0;
	position: fixed;
	right: 10px;
	top: 10px;
}
.box {
	position: fixed;
	bottom: 0;
	width: 200px;
	height: 200px;
}
#neko{
    top: 100px;
}
#nami{
    top: 200px;
}
#sima{
    background: url('../img/sima.png') no-repeat;
    background-size: contain;
    width: 500px;
    height: 180px;
}
#fune2{
    background: url('../img/fune.png') no-repeat;
    width: 320px;
}
#nami2{
    top: 500px;
}
#nami3{
    top: 300px;
}
#nami4{
    top: 800px;
}
#nami5{
    top: 300px;
}
#nami6{
    top: 500px;
}

