* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 10000px;
    width: 100%;
    background: #fff;
    font-family: "Sawarabi Mincho";
    position: relative;
}

#wrapper1 {
    position: fixed;
    z-index: 0;
}

#wrapper2 {
    position: relative;
    z-index: 1;
}

#wrapper3 {
    position: relative;
    z-index: 2;
}

#wrapper4 {
    position: relative;
    z-index: 3;
}

#wrapper5 {
    position: relative;
    z-index: 4;
}

.container {
    width: 960px;
    margin: 40px auto;
    overflow: hidden;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    display: inline;
    float: left;
    overflow: hidden;
}

.col-1 {
    width: 80px;
}

.col-2 {
    width: 160px;
}

.col-3 {
    width: 240px;
}

.col-4 {
    width: 320px;
}

.col-5 {
    width: 400px;
}

.col-6 {
    width: 480px;
}

.col-7 {
    width: 560px;
}

.col-8 {
    width: 640px;
}

.col-9 {
    width: 720px;
}

.col-10 {
    width: 800px;
}

.col-11 {
    width: 880px;
}

.col-12 {
    width: 960px;
}

.col-first {
    margin-left: 0;
}

.col-last {
    margin-right: 0;
}

h3 {
    font-size: 50px;
    margin: 50px 0;
    border-bottom: 3px solid #555;
}

header {
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
    overflow: hidden;
    width: 100%;
    padding: 10px;
}

.header-container {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
}

header h2 {
    display: inline;
}

header img {
    margin: 0px 5px;
    height: 20px;
    display: inline;
}

#dmenu {
    display: none;
}

nav {
    overflow: hidden;
    float: right;
}

nav li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
    width: 80px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #2e0909;
    padding: 8px;
    display: block;
    transition: 0.3s;
}

nav a:hover {
    background: url("../img/nikukyu.png") no-repeat;
    background-size: contain;
    color: #5a3333;
}

#top {
    padding-top: 80px;
    background-image: url('../img/key.png');
    background-color: rgba(250, 250, 250, 0.76);
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
}

.top-container {
    height: 100vh;
    position: relative;
}

.topimg {
    position: absolute;
    top: 15%;
    left: 45%;
}

.topimg-s {
    display: none;
}

#about {
    padding: 50px;
}

#about p {
    padding-top: 0px;
}

#photo a {
    pointer-events: none;
}

.lightbox {
    display: none;
}

.image-l {
    float: left;
    overflow: hidden;
    width: 880px;
    margin: 40px;
    background: #fff;
}

.image-m {
    float: left;
    overflow: hidden;
    width: 560px;
    margin: 40px;
    background: #fff;
}

.image-s {
    float: left;
    overflow: hidden;
    width: 240px;
    margin: 40px 40px 14px 40px;
    background: #fff;
}

#access {
    margin: 50px 0;
}

#access p {
    margin: 70px 0;
}

#access table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #555;
    border-left: 5px solid #838383;
    width: 460px;
    background: rgba(255, 255, 255, 0.57);
    margin-bottom: 100px;
}

h4 {
    margin: 10px 0;
}

th {
    width: 100px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    color: #838383;
    border-right: 1px solid #8e8d8d;
    border-bottom: 1px solid #8e8d8d;
}

td {
    width: 147px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #8e8d8d;
    border-bottom: 1px solid #8e8d8d;
}

footer {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}




@media (max-width: 768px) {
    body {
        height: 100vh;
        font-size: 60%;
    }
    h3 {
        font-size: 2rem;
    }
    h2 {
        font-size: 20px;
    }
    #wrapper1 {
        display: none;
    }
    #wrapper3 {
        display: none;
    }
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: 100%;
    }
    .container {
        width: 85%;
        margin: 20px auto;
    }
    #top {
        background-position: 30% bottom;
    }
    header {
        background: #fff;
    }
    .header-container {
        width: 100%;
        text-align: left;
    }
    nav {
        display: none;
    }
    #dmenu {
        display: inline-block;
        position: fixed;
        right: 0px;
        width: 100px;
        padding-top: 2px;
    }
  #navToggle {
        position: absolute;
        /*bodyに対しての絶対位置指定*/
        right: -7px;
        top: 0px;
        width: 26px;
        height: 25px;
        cursor: pointer
    }
    #navToggle div {
        position: relative
    }
    /*spanの絶対位置指定の親にします*/
    #navToggle span {
        display: block;
        position: absolute;
        /*#navToggle div に対して*/
        width: 100%;
        border-bottom: solid 3px #999;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out
    }
    #navToggle span:nth-child(1) {
        top: 0
    }
    #navToggle span:nth-child(2) {
        top: 9px
    }
    #navToggle span:nth-child(3) {
        top: 18px
    }
    .openNav #navToggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .openNav #navToggle span:nth-child(2) {
        display: none;
        top: 11px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg)
    }

.openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #211e1e;
        font-size: 10px;
    }
    #dmenu li {
        /*        float: left;*/
        position: relative;
        text-align: center;
        margin: 7px;
        margin-top: 2px;
        padding: 10px;
        padding-left: 17px;
        display: block;
        width: 70px;
    }
    ul.child {
        display: none;
        position: absolute;
        margin-left: -17px;
        top: 35px;
        padding: 0;
        width: 100px;
        background: #fff;
    }
    ul.child li {}
    ul.child li a {
        padding: 5px 10px;
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: -5px;
        display: block;
        color: #454343;
        text-decoration: none;
        text-align: left;
    }
    li a:hover {
        background: url("../img/nikukyu.png") no-repeat;
        background-size: contain;
        background-position: right;
        color: #5a3333;
    }
    .topimg-s {
        display: block;
        position: absolute;
        width: 35%;
        transform: translate(-75%, -30%);
        left: 75%;
        top: 30%;
    }
    .topimg {
        display: none;
    }
    h3 {
        margin: 45px 0;
    }
    #about {
        width: 100%;
        padding: 0;
        margin-bottom: 65px;
    }
    #about img {
        margin: 0 50px;
        width: 200px;
    }
    #photo {
        margin-top: 20px;
    }
    #photo a {
        pointer-events: auto;
    }
    .image-s {
        width: 30%;
        margin: 5px;
    }
    .image-m {
        width: 30%;
        margin: 5px;
    }
    .image-l {
        width: 30%;
        margin: 5px;
    }
    .playbox img {
        margin: 4px;
    }
    .lightbox {
        margin-top: 150px;
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        padding: 30px 0 0 0;
    }
    .lightbox .light {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.5;
        filter: alpha(opacity=50);
        text-align: center;
    }
    .lightbox .box {
        width: 85%;
        height: auto;
        background: #fff;
        border-width: 10px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .lightbox .box img {
        display: block;
        margin: 10px auto;
        position: relative;
        width: 95%;
    }
    .lightbox .box p {
        width: 300px;
        padding: 20px 0;
        margin: 0;
        color: #fff;
        text-align: left;
        font-size: 12px;
    }
    .lightbox .functions {
        position: absolute;
        bottom: 8px;
        left: 0px;
        height: 30px;
        width: 100%;
        background: #fff;
        text-align: center;
    }
    .lightbox .box a {
        color: #000;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        text-align: center;
        padding: 0 20px;
    }
    .lightbox .box a.closebox:hover {
        color: #339852;
    }
    .lightbox .previous:hover,
    .lightbox .next:hover {
        color: #93c5e0;
    }
    #p001:target {
        display: block;
    }
    #p002:target {
        display: block;
    }
    #p003:target {
        display: block;
    }
    #p004:target {
        display: block;
    }
    #p005:target {
        display: block;
    }
    #p006:target {
        display: block;
    }
    #p007:target {
        display: block;
    }
    #p008:target {
        display: block;
    }
    #p009:target {
        display: block;
    }
    #p010:target {
        display: block;
    }
    #p011:target {
        display: block;
    }
    #p012:target {
        display: block;
    }
    #p013:target {
        display: block;
    }
    #p014:target {
        display: block;
    }
    #p015:target {
        display: block;
    }
    #p016:target {
        display: block;
    }
    #p017:target {
        display: block;
    }
    #p018:target {
        display: block;
    }
    #p019:target {
        display: block;
    }
    #p020:target {
        display: block;
    }
    #p021:target {
        display: block;
    }
    #p022:target {
        display: block;
    }
    #p023:target {
        display: block;
    }
    #p024:target {
        display: block;
    }
    #p025:target {
        display: block;
    }
    #p026:target {
        display: block;
    }
    #p027:target {
        display: block;
    }
    #p028:target {
        display: block;
    }
    #p029:target {
        display: block;
    }
    #p030:target {
        display: block;
    }
    #p031:target {
        display: block;
    }
    #p032:target {
        display: block;
    }
    #access {
        margin-bottom: 20px;
    }
    #access p {
        margin: 0;
    }
    #access table {
        width: 100%;
        margin-bottom: 15px;
    }
    #access h4 {
        margin-top: 20px;
    }
    td {
        width: 30px;
        text-align: center;
        padding: 5px;
    }
    th {
        width: 30px;
        padding: 5px;
    }
    footer {
        font-size: 60%;
    }
}